/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body { 
    background-color: darkred !important; 
}

.main {
    color: gold;
    font-size: 170px;
    font-family: "Cormorant Garamond", serif;
}

.satauri {
    width: 100%;
    height: 210px;
    background-color: #660708;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;

}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 60px;
    margin-top: 30px;
    height:70px ;
    
}

.nav a {
    color: gold;
    font-size: 30px;
    font-family: "Cormorant Garamond", serif;
    text-decoration: none;
    height: 30px;
}
a:hover{
    color: yellow; 
    font-weight: 500;
   
}

.tibisi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 910px;
}

.logo {
    width: 200px;
}

.sec {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}


.one{
    padding-left: 10px;
    padding-top: 10px;
    height: 350px;
    width: 590px;
}

.card{
    background-color: #660708;
    width: 1300px;
    height: 420px;
    /* margin-left: 65px; */
    margin-top: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -ms-flex-wrap: nowrap; 
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
   
}

.cardtext{
    font-family: "Cormorant Garamond", serif;
    font-size: 22px;
    color: gold;
    width: 600px;
   
}

.two{
    width: 680px !important;
     height: 370px; 
}

.footer{
    width: 100%;
    background-color: rgb(99, 11, 11);
    height: 120px !important;
    bottom: 0% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 20px;
    padding-top: 20px;
    
}


.ft{
    font-family:  "Cormorant Garamond", serif;
    color: darkorange;
    width: 100px;
}


.footertext{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 150px;
    line-height: 20px;
}


.shesavsebi{
    width: 400px;
    height: 400px;
}


.sec{
    padding-bottom: 50px;
}


.fotoebi{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 50px;
}

.freddie{
    background-color: #660708;
    width: 900px;
    height: 420px;
    /* margin-left: 65px; */
    margin-top: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -ms-flex-wrap: nowrap; 
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
   
}


.smallcard{
    width: 300px;
    background-color: #660708;
    height: 350px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
}


.smallcardtext{
    color: gold;
    font-family:  "Cormorant Garamond", serif;
}


.smallcards{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 50px;
}

.debili{
    width:  300px;
    height: 200px;
}


.cardphotos{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 100%;
    height: 450px;
    padding-bottom: 50px;

}

.wpadding{
    padding: none;
}


.brianbig{
    width: 280px;
    height: 400px;
    padding: none;
}


.ajika{
    width: 280px;
    height: 400px;
    padding: none;
}

.rogera{
    width: 280px;
    height: 400px;
}


.BBB{
  /* width: 1519.2px; */
 width: 100%;

}


.soc{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: -1333px;
}


.caruseli{
    width: 500px;
    height: 400px;
}


.muscard{
    width: 1450px;
    height: 100px;
    background-color: #660708;
    margin: 30px;
}

.mustext{
    font-family:  "Cormorant Garamond", serif;
    color: gold;
}


.SSS{
    justify-content: center;
}

.footerone{
    width: 100%;
    background-color: rgb(99, 11, 11);
    height: 170px !important;
    bottom: 0% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 20px;
    padding-top: 20px;
    
}

.footertextone{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 150px;
}

.menu {
    display: none;
}